<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Events' } %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i> <%= t(:order_events) %>
<% end %>

<div data-hook="order_events_iframe_container" class="order_events_iframe_container">
	<iframe width="100%" src="http://augury-admin.dev/events/embedded?store_id=<%= Spree::Config.store_id %>&order_number=<%= @order.number %>&auth_token=<%= Spree::Config.pro_api_key %>" class="order_events_iframe" scrolling="no"></iframe>
</div>

<%= button_link_to t(:continue), admin_orders_url %>
