<%= render partial: 'spree/admin/shared/integration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:endpoint_testing) %>
<% end %>

<% content_for :page_actions do %>
  <li>
  <%= button_link_to Spree.t(:show_all), collection_url, :icon => 'icon-plus', :id => 'admin_new_messages_link' %>
  </li>
<% end %>

<%= render partial: "spree/shared/error_messages", locals: { target: @endpoint_message } %>

<%= form_for [:admin, @endpoint_message] do |f| %>
  <div class="preferences">

    <% if @presenter.response_data %>
      <fieldset class="general no-border-top">
        <legend align="center"><%= Spree.t(:response) %></legend>
        <ul>
          <dt><%= Spree.t("request", scope: :response_data) %></dt>
          <dl class="admin-response-code-class-<%= @presenter.response_code_class %>"><strong><%= @presenter.response_code %></strong> - <%= @presenter.uri %></dl>
          <% @presenter.each_response_data do |key, value| %>
            <dt><%= Spree.t(key, scope: :response_data) %></dt>
            <dl><%= value %></dl>
          <% end %>
          <dt><%= Spree.t(:body, scope: :response_data) %></dt>
          <dl>
            <% if @presenter.response_json? %>
              <%= render partial: "body_json" %>
            <% else %>
              <%= render partial: "body_html" %>
            <% end %>
          </dl>
        </ul>
      </fieldset>
    <% end %>

    <fieldset class="general no-border-top">
      <legend align="center"><%= Spree.t(:request) %></legend>

      <%= f.field_container :message do %>
        <%= f.label :message, Spree.t(:message) %>
        <%= f.collection_select :message, @presenter.samples, :message, :message, { include_blank: true }, { class: "select2 fullwidth" } %>
        <%= f.error_message_on :message %>
      <% end %>

      <div class="row">
        <div class="alpha six columns">
          <%=f.field_container :uri do %>
            <%= f.label :uri, Spree.t(:uri) %> <span class="required">*</span><br />
            <%= f.text_field :uri, :class => "fullwidth title" %>
            <%= f.error_message_on :uri %>
          <% end %>
        </div>

        <div class="omega six columns">
          <%= f.field_container :token do %>
            <%= f.label :token, Spree.t(:token) %> <span class="required">*</span><br />
            <%= f.text_field :token, :class => "fullwidth title" %>
            <%= f.error_message_on :token %>
          <% end %>
        </div>
      </div>

      <%= f.field_container :payload do %>
        <%= f.label :payload, Spree.t(:payload) %> <span class="required">*</span><br />
        <%= f.text_area :payload, :class => "fullwidth title" %>
        <%= f.error_message_on :payload %>
        <div id="endpoint_message_payload_editor"></div>
      <% end %>

      <%= f.field_container :parameters do %>
        <%= f.label :parameters, Spree.t(:parameters) %><br/>
        <%= f.text_area :parameters, :class => "fullwidth title" %>
        <%= f.error_message_on :parameters %>
        <div id="endpoint_message_parameters_editor"></div>
      <% end %>
      <%= render partial: "spree/admin/shared/new_resource_links", locals: { button_create_label: Spree.t("actions.send") }%>
    </fieldset>
  </div>
<% end %>

<script id="messages" type="application/vnd.spree-admin-messages">
  <%= raw @presenter.samples.to_json %>
</script>

<script>
  $(function(){
    var $textarea = $("#endpoint_message_payload");

    // Creates ACE editor for parameters' field
    createEditor("endpoint_message_parameters_editor", "endpoint_message_parameters");

    var payloadEditor = createEditor("endpoint_message_payload_editor", "endpoint_message_payload");

    $("#endpoint_message_message").change(function(e){
      var message = messageSearch($(e.target).val());
      if(message){
        var payload = JSON.stringify(message.payload, null, 4);
        $textarea.val(payload);
        payloadEditor.setValue(payload);
      }
    });

    var messageSearch = (function(){
      var messages = JSON.parse($("#messages").text());
      return function(message){
        for(var i = 0; i < messages.length; i++){
          if(messages[i].table.message === message) return messages[i].table;
        }
      };
    })();

    function createEditor(targetId, parentId){
      var editor = ace.edit(targetId);
      editor.setTheme("ace/theme/chrome");
      editor.getSession().setMode("ace/mode/javascript");
      editor.setShowPrintMargin(false);

      var $textarea = $("#" + parentId);
      editor.getSession().setValue($textarea.val());
      editor.getSession().on("change", function(){
        $textarea.val(editor.getSession().getValue());
      });

      return editor;
    }
  });
</script>

