<%= render partial: 'spree/admin/shared/integration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:endpoint_testing) %>
<% end %>

<% content_for :page_actions do %>
  <li>
  <%= button_link_to Spree.t(:show_all), collection_url, id: 'admin_new_messages_link' %>
  </li>
<% end %>

<%= render partial: "spree/shared/error_messages", locals: { target: @endpoint_message } %>

<%= form_for [:admin, @endpoint_message] do |f| %>
  <div class="preferences">
    <% if @presenter.response_data %>
      <fieldset class="no-border-bottom">
        <legend align="center"><%= Spree.t(:response) %></legend>
        <div class="field">
          <label><%= Spree.t("request") %></label> <br/>
          <span class="admin-response-code-class-<%= @presenter.response_code_class %>"><i><%= @presenter.response_code %></i> <i><%= @presenter.response_time %> sec</i> <%= @presenter.uri %></span>
        </div>
        <%= link_to Spree.t(:show_headers), '#' , id: 'admin-response-headers-button', 'data-toggle-text' => Spree.t(:hide_headers), class: 'button' %>
        <dl id="admin-response-headers-container">
          <% @presenter.each_response_data do |key, value| %>
            <dt><%= key %></dt>
            <dd><%= value %></dd>
          <% end %>
        </dl>
        <div class="field">
          <label><%= Spree.t(:body, scope: :response_data) %></label> <br/>
          <% if @presenter.response_json? %>
            <%= render partial: "body_json" %>
          <% else %>
            <%= render partial: "body_html" %>
          <% end %>
        </div>
      </fieldset>
    </div>
  <% end %>

  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t(:request) %></legend>

    <%= f.field_container :message do %>
      <%= f.label :message, Spree.t(:message) %>
      <%= f.collection_select :message, @presenter.samples, :message, :message, { include_blank: true }, { class: "select2 fullwidth" } %>
      <%= f.error_message_on :message %>
    <% end %>

    <div class="row">
      <div class="alpha six columns">
        <%=f.field_container :uri do %>
          <%= f.label :uri, Spree.t(:uri) %> <span class="required">*</span><br />
          <%= f.text_field :uri, :class => "fullwidth title" %>
          <%= f.error_message_on :uri %>
        <% end %>
      </div>

      <div class="omega six columns">
        <%= f.field_container :token do %>
          <%= f.label :token, Spree.t(:token) %> <span class="required">*</span><br />
          <%= f.text_field :token, :class => "fullwidth title" %>
          <%= f.error_message_on :token %>
        <% end %>
      </div>
    </div>

    <%= f.field_container :payload do %>
      <%= f.label :payload, Spree.t(:payload) %> <span class="required">*</span><br />
      <%= f.text_area :payload, :class => "fullwidth title" %>
      <%= f.error_message_on :payload %>
      <div id="endpoint_message_payload_editor"></div>
    <% end %>
  </fieldset>
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t(:parameters) %></legend>
    <div id="new-parameters" class="row frameless">
      <% @endpoint_message.parameters_hash["parameters"].each_with_index do |hash, i| %>
      <div class="new_parameter_pairs row">
        <div class="field">
          <div class="five columns">
            <label for="new_parameter_pairs_<%= i %>_name"><%= Spree.t(:name) %></label>
            <input class="fullwidth new-parameter-name" id="new_parameter_pairs_<%= i %>_name" name="new_parameter_pairs[<%= i %>][name]" type="text" value="<%=hash["name"]%>"><br>
          </div>
          <div class="five columns">
            <label for="new_parameter_pairs_<%= i %>_value"><%= Spree.t(:value) %></label>
            <input class="fullwidth new-parameter-value" id="new_parameter_pairs_<%= i %>_value" name="new_parameter_pairs[<%= i %>][value]" type="text" value="<%=hash["value"]%>">
          </div>
          <div class="two columns">
            <a class="destroy_new_parameter_pairs with-tip button" href="#" style="margin-top: 19px;" title="<%= Spree.t(:destroy) %>"><em class="icon-trash"></em>&nbsp; <%= Spree.t(:destroy) %></a>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class="field">
      <%= link_to_with_icon 'icon-plus', Spree.t(:add_new_parameter), '#', :class => 'add-new-parameter button' %>
    </div>

    <%= render partial: "spree/admin/shared/new_resource_links", locals: { button_create_label: Spree.t("actions.send") }%>
  </fieldset>
</div>
<% end %>

<script id="messages" type="application/vnd.spree-sample-messages">
  <%== @presenter.samples.to_json %>
</script>

<script>
  <% if @environment %>
    Augury.Preload.parameters = <%== @parameters_json %>;
  <% end %>
</script>

