<% content_for :page_title do %>
  <%= Spree.t(:integration) %>
<% end %>

<%= render partial: 'spree/admin/shared/integration_menu' %>

<% if !Spree::Config[:store_id].present? %>
  <div class="row">
    <p>This store is not registered with the Integrator.</p>
    <%= button_link_to Spree.t(:register), admin_integration_register_path, :icon => 'icon-pencil' %>
  </div>
<% else %>
  <div id="integration_main" class="row">
    <!-- Backbone app renders here -->
  </div>
  <%= javascript_tag do -%>
    Augury.store_id = '<%= Spree::Config.store_id %>';
    Augury.pro_url = '<%= Spree::Config.pro_url %>';
    Augury.api_key = '<%= Spree::Config.pro_api_key %>';
    Augury.Preload.integrations = <%== @integrations_json %>;
    Augury.Preload.registrations = <%== @registrations_json %>;
    Augury.Preload.parameters = <%== @parameters_json %>;
    Augury.Preload.keys = <%== @keys_json %>;
    $(function() {
      return Augury.init();
    });
  <% end %>
<% end %>
