<% content_for :page_title do %>
  <%= Spree.t(:integration) %>
<% end %>

<%= render partial: 'spree/admin/shared/integration_menu' %>

<div id="integration_main" class="row">
  <!-- Backbone app renders here -->
</div>

<%= javascript_tag do -%>
  Augury.SignUp.urls = {};
  Augury.SignUp.urls['production'] = "http://aug-app2.spree.fm";
  Augury.SignUp.urls['staging'] = "http://aug-stg2.spree.fm";
  Augury.SignUp.name = '<%= Spree::Config[:site_name] %>';
  Augury.SignUp.url = '<%= "http://#{request.host_with_port}/api" %>';
  Augury.SignUp.version = '<%= Spree.version %>';
  Augury.SignUp.api_key = '<%= @integrator_user.spree_api_key %>';
  Augury.SignUp.user = '<%= spree_current_user.email %>';

  Augury.connections = {}
  <% AuguryEnvironment.all.each do |env| %>
    Augury.connections[<%= env.id %>] = { url: '<%= env.url %>', token: '<%= env.token %>', environment: '<%= env.environment %>', user: '<%= env.user %>' };
  <% end %>

  <% if @environment.nil? %>
    $(function() {
      return Augury.connect();
    });
  <% else %>
    Augury.env = '<%= @environment.environment %>';
    Augury.url = '<%= @environment.url %>';
    Augury.store_id = '<%= @environment.store_id %>';
    Augury.api_key = '<%= @environment.token %>';
    Augury.Preload.integrations = <%== @integrations_json %>;
    Augury.Preload.mappings = <%== @mappings_json %>;
    Augury.Preload.schedulers = <%== @schedulers_json %>;
    Augury.Preload.parameters = <%== @parameters_json %>;
    Augury.Preload.messages = <%== @messages_json %>;

    Augury.env_id = '<%= @environment.id %>';

    $(function() {
      return Augury.start();
    });
  <% end %>
<% end %>
